body {
	font-size: 88%;
	color:#2d3032;
	-webkit-text-size-adjust: 100%;
	/*background:url(../images/bg6.jpg);*/
	background:#e2d8a8;
	text-align:center;
}
a:hover{
	color:#cb8383;
}
a {
	color:#550102;
}


h1 {
	width:100%;
	height:29px;
	/*background:url(../images/top_bg_sp_bg.png);*/
	background:#343125;
	/*margin-bottom:27px;*/
}
h1 img{
	margin-top:4px;
}
#wrap {
	/*padding: 10px;*/
}
section:first-child{
	margin-bottom:24px
	}
section, nav {
	margin-bottom: 1em;
}
p {
	margin-bottom: 1em;
}
p:last-child {
	margin-bottom: 0;
}

footer {
	text-align:center;
}


a.css3buttonRed {
	display:block;
	text-decoration:none;
	width:70%;
	margin:0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:700;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#abe03a 0%,
		#79a814);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e31e00),
		to(#e36600));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

a.css3buttonRed:hover{
	background: -moz-linear-gradient(
		top,
		#79a814 0%,
		#abe03a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e36600),
		to(#e31e00));
	text-shadow:
		0px 1px 0px rgba(000,000,000,1),
		0px -1px 0px rgba(255,255,255,0.2);
}


/* jCarousel */
.jCarousel {
margin: 0 auto;
margin-bottom: 15px;
text-align: center;
-webkit-transition: margin 0 ease-in-out;
transition: margin 0 ease-in-out;
test-align: center;
}

/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
