section.cntralign{
	margin-bottom:30px;
	}
	
h3{
	font-size:140%;
	font-weight:700;
	text-shadow:1px 1px 1px #ccc;
	margin: 0 0 8px 10px;
	}

#cite{
	background:url(../images/bgc.jpg);
	/*padding: 0 10px;*/
	
	border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

#cite a {
	display:block;
	padding:15px 30px 15px 10px;
	border-bottom:1px solid #E9DCAF;
	font-weight:600;
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	font-size:115%;
	background:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:right center;
}

#cite a.nolink{
	background:none;
}

#cite .cite_sub{
	font-size:70%;
	color:#2D3032;
	font-weight:500;
	}