@charset "utf-8";
/* CSS Document */

#header{
	background:url(img/top_bg.png);
	width: 800px;
	height: 410px;
	margin:0 auto 10px;
	position:relative;
}

/*  スライダー  */

#slider{
	position:absolute;
	width:680px;
	height:182px;
	bottom:50px;
	left:60px;
}

#slider ul li{
	width:680px;
	height:182px;
}

#slider ul li div#sliderMarket{
	text-indent:-9999px;
	display:block;
	width:680px;
	height:182px;
	background:url(img/stage4.png);
}

/* prev next　ボタン */
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:30px;
		height:77px;
		position:absolute;
		left:30px;
		bottom:100px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:740px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{ 
		text-indent:-9999px; 
		display:block;
		position:relative;
		width:30px;
		height:77px;
		background:url(images/btn_prev.png) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(images/btn_next.png) no-repeat 0 0;	
		}	

/* メインボタン */
#main_btn{
	margin-bottom:30px;
}
#main_btn a:first-child{
	margin-right:30px;
	}

#btnMarket, #btnQR{
	width:240px;
	height:60px;
	font-size:120%;
	position:relative;
	}

#QR{
	display:none;
	overflow-y:hidden;
	position:absolute;
	bottom:81px;
	z-index:2000;
	width:240px;
	padding: 30px 0 10px;
	background:#C4C6C9;
	font-size:70%;
	}
	
/* 紹介されたサイト */
#cite {
	background:url(img/bgc.png);
	width:980px;
	margin:0 auto 30px;
	padding:30px 25px;
}

#cite_left{
	float:left;
	width:310px;
	/*padding-right:7px;*/
	/*border-right:1px #ccc solid;*/
}
	
.cite_right {
	float:left;
	width:310px;
	padding-left:25px;
}

.cite_article{
	text-align:left;
}

.cite_article h4 {
	font-weight:700;
	text-shadow: 1px 1px 0 #d9abab;
	color: #660B0B;
	font-size:110%;
	margin-bottom:10px;
}

#cite a {
	color:#222;
}
#cite a:hover {
	text-decoration:none;
}

.cite_article img {
	margin-bottom:10px;
}

.cite_article p {
	font-size:90%;
	color:#222;
	line-height:120%;
}

#cite .readmore{
	color:#0905b7;
}




	
/* クリアのためのヒント */

#hint h3{
	color: #550102;
	margin-bottom:10px;
	font-weight:700;
	}
	
#hint h3:hover{
	color: #a64747;
	cursor:pointer;
	}
	
#hint_main{
	width:320px;
	margin:0 auto;
	display:none;
}

.stage{
	margin: 0 0 8px;
}

.stage h4{
	font-size:90%;
	text-align:left;
	background: #660b0b;
	padding: 8px 12px;
	cursor: pointer;
	
	color: #ffffff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	
	text-shadow:
	0px -1px 0px rgba(000,000,000,1),
	0px 1px 0px rgba(255,255,255,0.2);
}
.stage h4:hover{
	background: #8f2b2b;
	
	text-shadow:
	0px 1px 0px rgba(000,000,000,1),
	0px -1px 0px rgba(255,255,255,0.2);
}

.stage div {
	text-align:left;
	font-size:80%;
	display:none;
	padding:8px 12px;
	background: #fff;
}